<div style="padding: 50px; width: 100%; max-width: 1600px; margin: 0 auto;">
  <p>calling PeopleList Component: templates/programmers.hbs</p>
  <PeopleList
    @title="List of Famous Programmers"
    @people={{@model}}
  />
</div>